@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

body{
    margin: 0;
    background: rgba(248, 248, 252, 1);
    position: relative;
    font-family: 'Open Sans', sans-serif;
    object-fit: cover;
}

.inicio--saludo {
    display: flex;
}

.inicio--saludo h4{
    padding-left: 20px;
    color: rgba(88, 80, 107, 1);
    font-size: 20px;

}

.inicio--saludo img {
    align-self: center;
    justify-self: flex-end;
    margin-left: 150px;
}

.bienvenida-section--saludo {
    position: relative;
    border-radius: 10px;
    margin: 0 auto;
    background: rgb(230,11,11);
    background: linear-gradient(184deg, rgba(230,11,11,1) 0%, rgba(166,48,48,1) 100%);
    width: 320px;
    height: 260px;
    margin-top: 150px;
    color: honeydew;
    letter-spacing: 1mm;

}

.bienvenida-section--saludo img {
    position:absolute;
    filter: brightness(1.1);
    mix-blend-mode: multiply;
    width: 180px;
    top: -120px;
    left: 150px;
}
.saludo-texto--cabecera {
    padding-left: 20px;
    padding-top: 10px;
}

.saludo-texto--compras {

    padding-bottom: 10px;
    left: 3px;
    margin-top: 70px;
    margin-left: 40px;

}

.saludo-texto--compras h1 {
    font-size: 40px;
    padding-bottom: 20px;
}

.informacion-libros--tabla {
    align-self: center;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 15px 30px;
    margin-top: 38px;
    border-radius: 15px;
    background-color: white;

}

.informacion-libros--tabla div p {
    text-align: center;
    margin: 10px auto;
}

.section--metas {
    margin: 50px 20px;



}

.section-metas--cabecera {
    display: flex;
}
.section-metas--cabecera img {
    margin-left: 150px;
    height: 22px;
    align-self: center;
}

.section-metas--cabecera p {
    display: inline;
    padding-left: 20px;
    color: rgba(88, 80, 107, 1);
    font-size: 20px;

}

.metas-div--contenedores {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2mm;
    
}

.metas-div--contenedor {

    border-radius: 15px;
    box-shadow: rgba(255, 255, 255, 1);
    background-color: white;
    width: 160px;    

}

.metas-div--contenedor img {
    width: 50px;
    height: 85px;
    margin: 15px 20px 2px 15px;
}

.metas-div--avance {
    display: flex;
}

.metas-div--avance div img {
    width: 80px;
    margin: 0;
    justify-content: center;
}
.metas-avance--letras {
    margin-left: 10px  ;

}

.metas-avance--pags {
    color: green;
    margin-left: 15px;
    margin-bottom: 2px;
}

.metas-avance--letras p {
    margin-top: 2px;
}

.sugerencias--contenedor {
    margin: 30px 20px;
}

.sugerencias-contenedor--tarjeta {

    background-color: white;
    height: 260px;
    object-fit: cover;
    border-radius: 15px;

}

.sugerencias--columnas {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 140px;
    border-radius: 15px;

}



.sugerencias--columnas img {
    position: absolute;

}

.sugerencias--imagen1 {
    left: 53px;
    top: 16px;
}

.sugerencias--imagen2 {
    top: 30px;
    left: 33px;
}

.sugerencias--imagen3 {
    left: 30px;
    top: 60px;

}

.sugerencias--imagen4 {
    left: 31px;
    top: 85px;
}

.sugerencias--imagen5 {
    left: 40px;
    top: 105px;
}

.sugerencias--imagen6 {
    left: 58px;
    top: 121px;
}

.sugerencias--imagen7 {
    left: 113px;
    top: 111px;
}

.sugerencias--imagen8 {
    left: 135px;
    top: 73px;
}

.sugerencias--imagen9 {
    left: 129px;
    top: 33px;
}

.sugerencias--imagen10 {
    left: 94px;
    top: 15px;
}

.sugerencias--robot {
    top: 40px;
    left: 75px;
}

.sugerencias-imagen--letras1 {
    font-size: 10px;
    top: 70px;
    left: 73px;
    display: block;
    position: absolute;
}

.sugerencias-imagen--letras2 {
    font-size: 13px;
    top: 81px;
    left: 68px;
    position: absolute;
}

.sugerencias-titulo-estrella {
    display: flex;
}

.sugerencias--chulo {
        width: 20px;
        align-self: center;
}


.sugerencias--estrellas {
    width: 15px;
}

.sugerencias-titulo {
    width: 88px;
    font-weight: bold;
    font-size: 11px;
    align-self: center;
    justify-content: center;
    margin-left: 40px;
    margin-bottom: 0;
}

.sugerencias--numero {
    font-size: 10px;
    margin-left: 70px;
    margin-bottom: 0;
    margin-top: 1px;

}

.sugerencias-titulo--autor {
    font-size: 11px;
    margin-left: 45px;
    margin-bottom: 0;
    margin-top: 1px;
}

.sugerencias--precio {
    font-size: 10px;
    margin-left: 55px;
    margin-bottom: 0;
    margin-top: 1px;
}

.sugerencias--topicos {
    font-size: 10px;
    font-weight: bold;
    margin-left: 65px;
    margin-bottom: 0;
    margin-top: 1px;
}


.sugerencias-teologia {
    font-size: 9px;
    margin-left: 75px;
    margin-bottom: 0;
    margin-top: 1px;
}

.sugerencias-flecha--derecha {
    margin-left: 190px;
    margin-right: 100px;
}

.sugerencias--parrafo {
    margin-top: 50px;
    font-size: 10px;
    margin-left: 15px;
    font-weight: 400;
}

.videos--contenedor {
    margin: 10px 20px;
    position: relative;

}

.videos--titulo {
    display: flex;

}

.videos--video {
    border-radius: 15px;
}

.videos--video iframe {
    border-radius: 15px;
    width: 100%;
    height: 200px;
    
}

.base-contenedor--video {

    height: 20px;
}

.videos--base {
    position: absolute;
    top: 180px;
    width: 100%;
    border-radius: 0 0 15px 15px;


}

.animate-texto {
    position: absolute;
    bottom: 68px;
    left: 30px;
    color: white;
    font-size: 20px;
    font-weight: 400;
}

.frase-texto {
    position: absolute;
    bottom: 20px;
    left: 30px;
    color: white;

}

.puntos--video {
    display: flex;
    margin-left: 15px;
    margin-top: 30px;
}

.puntos--video img {
    margin-left: 15px;
    margin-top: 15px;
}

.tips-contenedor {
    margin: 80px 20px;
    background-color: white;
    border-radius: 18px;
    padding: 20px 0;
}

.tips-columnas {
    display: grid;
    grid-template-columns: 2fr 1fr;

}

.tips-columnas div {
    display: flex;
}

.tips-columnas div p {
    color:rgba(129, 118, 153, 1);
    font-size: 14px;
    text-align: center;
    margin: 5px 25px;
    align-self: center;
}

.tips-columnas div img {
    height: 70px;
    width: 80px;
    border-radius: 18px;
    margin: 5px 20px;
}

.barra-movil {
    position: fixed;
    margin: 25px 24px;
    border-radius: 18px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

    visibility: visible;
    bottom: 0;
    left: 0;
    right: 0;
        background-image: url('../assets/img/footer/Vector.svg');
        height: 60px;
        width: 327px;

}

.filas-footer{
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-content: center;
    text-align: center;
    object-fit: cover;


}

.filas-footer p {
    font-size: 10px;
    margin-bottom: 0;
    margin-top: 0;
}

.inicio-rojo {
    color: #d63c3c;
}

.div-circulo {
    position: relative;
}

.circulo {
    position: absolute;
    bottom: -9px;
    right: -15px;
}





